.textScreen{
    border:solid rgb(174, 103, 219);
    border-radius:15px;
    color:rgb(102, 89, 116);
    text-align:center;
    padding:1em;
    margin:1em;
    height:20vh;
}

.answerBox{
    border:solid rgb(9, 7, 11);
    border-radius:15px;
    color:rgb(102, 89, 116);
    text-align:center;
    padding:1em;
    margin:1em;
    height:2vh;
}

.form{
    text-align: center;
}

.btns{
    text-align:center;
}

.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}

.plyrsContainer{
    display: flex;
    justify-content: space-around;
}


