.textScreen{
    border:solid rgb(174, 103, 219);
    font-size: 50px;
    border-radius:15px;
    color:rgb(102, 89, 116);
    text-align:center;
    padding:1em;
    margin:1em;
    height:20vh;
}

.container{
     justify-content: center;
}

.beginPlay{
    display: block;
    width: 700px;
    border-radius: 42px;
    background-color: #9404aa;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
   

}

#para{
    text-align: center;
    font-size: larger;
}


​.beginPlay:hover {
    background-color: #ddd;
    color: black;
  }

.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}


html {
    height: 100%;
    margin: 0 auto;
}

body {
    background-color: #f5cbe0;
    background-size: cover;
   
}



h1 {
    font-weight: bold !important;
    font-size: 7em !important;
}

.plyrPoints{
    justify-content: space-between;
}


