body{
    margin:0;
    font-size: 16px;
    background-color: rgb(236, 242, 167);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;  
}

.custom-box{
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

.custom-box::before, /************** look at this on inspect, this shows the custom box */
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}

.custom-box.hide{
    display: none; /*this is to hide and show boxes based on the class*/
}

.home-box h3{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 22px;
    
}

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 400;
} 

.home-box p span{
    font-weight: 500;
}

.home-box .btn{
    margin-top: 20px;
}

.btn{
    padding: 15px 45px;
    background-color: #9f3796;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width: 100%; /*Makese the answers stretch across the white box*/
    float: left;


}

.quiz-box .question-number{
    font-size: 18px;
    margin-bottom: 10px;
    color: #4ab5ab;
    font-weight: 600; /*Makes font more bold*/
    border-bottom: 1px solid #cccccc; /*Put border around Question box*/
    padding: 10px;
    line-height: 25px;
}
.quiz-box .question-text{
    font-size: 22px;
    color: #9f3796;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option{    
    background-color: beige;
    padding:13px 15px;
    font-size: 16px;
    line-height:22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: lowercase; /*makes all answers lowercase*/
}

.quiz-box .btn{
    margin: 12px 0; /* moves the next button down a little  */
}

.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
}

.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color:#a8d9d4; /*changes the color of the small circles grey */
    border-radius: 50%; /*turns the squres into circles*/
    margin-right: 3px;/*moves the circles apart*/
    margin-top: 15px;  /*makes space between the bottom grey line and circles */

}

.result-box{
    text-align: center;
}

.result-box.hide{
    display: none;
}

.result-box h1{ /*This turns the Quiz result tittle color and more*/
    font-size: 36px;
    line-height: 42px;  
    color:#4ab5ab
}

.result-box table{/*this makes the table wider and removes sapce in between rows*/
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td{ /*this puts a border around the table*/
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000; /*table font color*/
    width: 50%; /*Makes the table boxes evenly 50%*/
    text-align: left;/*aligns table font*/
    font-size: 20px;

}
.result-box .btn{
    margin-right: 20px; /*aligns play again and go to home button*/
}